@{
    Layout = null;
}
@using System.Net.Http
@using testEmpty1.Models
@model List<testEmpty1.Models.Repository>
@*@inject HttpClient http*@

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width"/> 
    <title>Data</title>
</head>
<body>
<div>
    this is a list:<br/>
    @foreach (Repository repository in Model)
    {
        <span>@repository.Name</span><br/>
    }

</div>
</body>
</html>

@functions
{

//    WeatherForecast[] forecasts;
//
//    protected override async Task OnInitAsync()
//    {
//        forecasts = await http.get.GetJsonAsync<WeatherForecast[]>("http://localhost:8080/api/banners");
//    }
//
//    class WeatherForecast
//    {
//        public int id { get; set; }
//        public string banner { get; set; }
//        public string describs { get; set; }
//        public int isdelete { get; set; }
//    }

}
